<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="XMLDirectoryFullPath" value="C:\Users\Administrator\Desktop\Xml"/>
		<add key="DefaultColorType" value="Grayscale"/>
		<add key="DefaultLuminosity" value="0.8"/>
	</appSettings>
	<connectionStrings>
		<add name="ConnectionStringPrimary" connectionString="User Id=OracleUser;Password=Password;Data Source=DatabaseName" />
		<add name="ConnectionStringSecondary" connectionString="User Id=OracleUser;Password=Password;Data Source=DatabaseName" />
		<add name="ConnectionStringTertiary" connectionString="User Id=OracleUser;Password=Password;Data Source=DatabaseName" />
	</connectionStrings>
	<log4net>
		<!--This appender will generate a log file at the given file location, and it will not
		exceed the maximumFileSize so no risk of getting an oversized log.-->
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<!--Please set the correct filepath for the location of the log file-->
			<file value="ShortcutCarousel.Service.Host.log"/>
			<appendToFile value="true"/>
			<maximumFileSize value="10000KB"/>
			<maxSizeRollBackups value="10"/>
			<!-- Configures the pattern for the log entries. %80.80logger means that if the calling class has a name shorter
			than 80		chars, it will be left padded with spaces to fill exactly 80 characters, and if longer than 80 chars, 
			it will be truncated to make the class name exactly 80 chars long. %ndc is the nested diagnostic context.-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level [%ndc] %message%newline"/>
			</layout>
		</appender>

		<!--root sets the target for the logging level. For a test environment, "DEBUG" or "INFO" are
		appropriate settings for the level. The appenders will not exceed the level set by root.
		For logging to a file, please include the appender-ref ref="FileAppender", which is defined above.
		To turn off the logging, you can always set level value to "OFF"-->
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="FileAppender"/>
		</root>
	</log4net>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="ShortcutCarousel.Service.ShortcutCarouselService">
				<endpoint address="" binding="wsHttpBinding" contract="ShortcutCarousel.Service.IShortcutCarouselService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/ShortcutCarouselService/" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>